<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Management Systems</title>
    <link rel="icon" type="image/png" href="~/Assets/images/favicons/favicon-16x16.png" sizes="16x16" />

    @*<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">*@

    <!-- Default stylesheets-->
    <link href="~/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="~/Assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="~/Assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="~/Assets/lib/flexslider/flexslider.css" rel="stylesheet">
    @*<link href="~/Assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">*@
    <link href="~/Assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="~/Assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="~/Assets/css/colors/default.css" rel="stylesheet">
    

</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">


    @RenderBody()


    <hr class="divider-d">
    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="copyright font-alt">&copy; 2017&nbsp;<a href="index.html">EMS</a>, All Rights Reserved</p>
                </div>
                <div class="col-sm-6">
                    <div class="footer-social-links">
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a><a href="https://dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a><a href="https://www.skype.com" target="_blank"><i class="fa fa-skype"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>

      

    <script src="~/assets/lib/jquery/dist/jquery.js"></script>
    <script src="~/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/lib/wow/dist/wow.js"></script>
    <script src="~/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="~/assets/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="~/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="~/assets/lib/flexslider/jquery.flexslider.js"></script>
    @*<script src="~/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>*@
    <script src="~/assets/lib/smoothscroll.js"></script>
    <script src="~/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="~/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    @*<script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK2Axt8xiFYMBMDwwG1XzBQvEbYpzCvFU"></script>*@
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
