@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="container">
    <div class="col-md-offset-2 col-md-6 tile p-15 text-center">
        <h1>Ouch...Ouch...Ouch!!!!!</h1>
        <h2 class="text-danger">You broke me!!! Please don't do that again!!!.</h2>
        <p>This might have been caused by trying to conduct malicious activities such as putting HTML where it is not 
        allowed or trying to access areas that are restricted.</p>
    </div>
</div>
